body{
    background-color: blueviolet;
    margin: 25px;
    padding: 5px;
}

h1{
    background-color: black;
    text-align: center;
    color: white;
}

.same{
    width: 300px;
    height: 300px;
    border-radius: 19px;
    border-style: hidden;
}

.logo{
    width: 35px;
    height: 35px;
}

h2{
    background-color: black;
    color: white;
}

li{
    padding: 20px;
    font-weight: bold;
}

.app{
    background-color: white;
    border-radius: 19px;
    width: 300px;
    border-style: hidden;
}
