body{
    background-color: black;
    margin: 25px;
    padding: 5px;
    color: yellow;
}

h1{
    background-color: brown;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.same{
    width: 300px;
    height: 300px;
    border-radius: 19px;
    border-style: hidden;
}

.logo{
    width: 35px;
    height: 35px;
}

h3{
    background-color:brown;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 10px;
}

li{
    padding: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.app{
    background-color: white;
    border-radius: 19px;
    width: 300px;
    border-style: hidden;
}
