body{
    background-color: rgba(137, 43, 226, 0.418);
    margin: 25px;
    padding: 5px;
}

h1{
    background-color: black;
    text-align: center;
    color: white;
}

#same{
    width: 300px;
    height: 300px;
    border-radius: 19px;
    border-style: solid;
}

.same{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border-style: hidden;
}

.logo{
    width: 35px;
    height: 35px;
}

h2{
    text-align: center;
    background-color: gold;
    color: purple;
    
}

li{
    padding: 20px;
    font-weight: bold;
}

.app{
    background-color: white;
    border-radius: 19px;
    width: 300px;
    border-style: hidden;
}
